.heroSection{
    width: 100%;
    height: 100vh;
}

.navLogo{
    font-size: 22px;
    font-weight: 700;

}

.navLink{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.navBtn{
    padding: 10px 18px;
    font-style: 18px;
    border: none;
    background-color: #485c11;
    color: white;
    border-radius: 20px;
}

.heroMain{
    width: 100%;
    height: 85vh;
    margin-top: 30px;
    background-image: url('./assests/Header.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.trustedBy{
    margin-top: 20px;
    border-bottom: 1px solid #3e3c3c;
}